<div class="row m-5">
      <h2>actividad</h2>

    <div class="col-md-8 col-sm-9 col-xs-12">
     <p>{{actividad.actividad_id}}</p>

     <p>{{actividad.nombre}}</p>
     <p>{{actividad.descripcion}}</p>
    </div>

</div>
   <a class="btn btn-warning btn-block" href="javascript:void(0)" onclick="history.back();">Volver</a>
</div>