<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2>NUEVA CLASE</h2>
                    </div>
                    {{>crearClase}}
                </div>
            </div>
        </div>
    </div>