<div class="fondo">
    <div class="container text-center">
        <div class="row align-items-start my-3">
            <h1 class="mb-1">BIENVENIDO A LA NUEVA APP EN NODEJS </h1>
            <h3 class="mb-5">
                <em>Miles de clases a muy buen precio</em>
            </h3>
            <a href="/signin" class="btn btn-primary"> Let´s get started</a>
        </div>

        <div class="row my-2">
            <div class="col-lg-4 mb-3">
                <strong>Encuentra los mejores profesores</strong>
                <p>Nuestra comunidad de usuarios está en todas partes. Busques lo que busques, encuentra el
                    instructor
                    perfecto
                    para esa clase que necesitias.</p>
            </div>
            <div class="col-lg-4 mb-3">
                <strong>Busca monitores seguro y tranquilo</strong>
                <p>Para nosotros es muy importante conocer a nuestros usuarios. Por eso, examinamos atentamente las
                    opiniones y los perfiles de nuestros usuarios para que sepas con quién vas a trabajar. Puedes
                    conseguir
                    tu próximo monitor con total seguridad y tranquilidad.</p>
            </div>
            <div class="col-lg-4 mb-3">
                <strong>¡Busca, elige y a trabajar!</strong>
                <p>¡Impartir clases es más fácil que nunca! Gracias a nuestra sencilla aplicación y a su potente
                    tecnología, podrás conseguir trabajar en gimnasios cerca de ti en minutos.</p>
            </div>
        </div>

        <div class="row m-auto text-center mb-5">
            <div class="col-12">
                <h3>Ayúdanos a protegerte frente a las estafas</h3>
                <p>En BlaBlaCar, trabajamos constantemente para que nuestra plataforma sea lo más segura posible. Sin
                    embargo, no podemos evitar al 100 % la posibilidad de que se produzca una estafa. Por eso, queremos
                    que
                    sepas cómo evitarlas y denunciarlas. Sigue nuestros consejos para saber cómo garantizar tu
                    seguridad.
                </p>
                <a href="/scam" class="btn btn-primary">Más información</a>
            </div>
        </div>
    </div>